.content_container{
    width:750px; height: 1254px;
    margin-top: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg_car02.png)no-repeat;
    background-position: -150px bottom;
    position: relative;
    z-index: -9999;
}
.bg_blend{
    position: absolute;
    width:750px; height: 1254px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -9998;
}

.introduce{
    color:#fff;
    font-family: 'NanumSquareRound';
    font-size:30px;
    display: flex;
    letter-spacing: -0.75px;
    line-height: 1.33;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.introduce p:last-child{
    font-family: 'NanumSquare';
    font-size: 35px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: -0.88px;
    margin-top: 33px;
}

