.bg_container{
    width: 750px; height: 496px;
    background: url(../images/bg_car03.png) no-repeat;
    position: absolute;
    top: 145px;
    z-index: -9999;
}
.bg_gradient{
    width: 750px; height: 496px;
    position: absolute;
    top: 145px;
    background: linear-gradient(to top, rgba(16, 16, 16, 1), 55%, rgba(16, 16, 16, 0));
    z-index: -9998;
}

section .introduce{
    margin-top:668px;
    color:#fff;
    display: flex;
    justify-content: center;
    font-family: 'NanumSquare';
    font-size:30px;
    letter-spacing: -0.75px;
    text-align: center;
    line-height: 1.33;
}
section .introduce span{
    font-family: 'OpenSans';
    font-weight: 700;
}

/*  */

section .goods{
    margin-top:72px;
    padding-bottom: 95px;
    display: flex;
    justify-content: center;
}
section .goods .background_img{
    position: absolute;
    width: 750px; height: 464px;
    background: url(../images/background.png) no-repeat;
    opacity: 0.8;
    right: 0;
    bottom: 0;
    z-index: -9999;
}




/* section .background_img{
} */
